---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <Header />
    <main>
        <div class="stage">
            <section class="buhne">
                <div
                    class="buhne__background buhne--hideImgOnMobile"
                    role="presentation"
                >
                    <img
                        src="/media/top-haende-reichen.scale.buehneL.jpg"
                        alt="Zwi Hände, die sich berühren"
                        class="noscript__image"
                    />
                </div>

                <div class="row">
                    <div class="col col--nomb">
                        <article class="buhne__copy buhne--hideImgOnMobile">
                            <div class="wrapper">
                                <h1 class="buhne__copy-headline">Hilfsfonds</h1>

                                <span class="buhne__copy-subheadline"
                                    >Für Menschen, die in existenzielle Not
                                    geraten sind</span
                                >
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>

        <div class="content">
            <div class="stripe stripe--content">
                <div>
                    <div class="s:md:d-hidden">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="was">
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/shakehands.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: left;"
                                                            >
                                                                <b
                                                                    >Was wir tun</b
                                                                >
                                                            </h2>
                                                            <p>
                                                                „HUK hilft“ ist
                                                                ein Hilfsfonds
                                                                für Menschen,
                                                                die durch
                                                                schicksalhafte
                                                                Extremsituationen
                                                                in <b
                                                                    >existenzielle
                                                                    Not
                                                                </b>geraten
                                                                sind. Er ist mit <b
                                                                    >10
                                                                    Millionen
                                                                    Euro</b
                                                                > ausgestattet und
                                                                wird in Härtefällen
                                                                helfen. Wir wollen
                                                                einen Neuanfang erleichtern.
                                                            </p>
                                                            <p>
                                                                Der Fonds wendet
                                                                sich nicht nur
                                                                an Kunden der
                                                                HUK-COBURG,
                                                                sondern steht<b>
                                                                    bedürftigen
                                                                    Privatpersonen</b
                                                                > offen. HUK hilft
                                                                ist langfristig angelegt.<br
                                                                />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12; --col-md: 6"
                                        class="s:self-start s:pt-0 s:pb-5 s:md:pb-10"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="was">
                                                </div>

                                                <div
                                                    class="s:d-flex s:items-center s:gap-y-4"
                                                >
                                                    <div class="width15">
                                                        <img
                                                            src="/media/shakehands.svg"
                                                            alt="Icon: Hände schütteln"
                                                        />
                                                    </div>

                                                    <div class="width85">
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: left;"
                                                            >
                                                                <b
                                                                    >Was wir tun</b
                                                                >
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s:pb-5"></div>

                                            <div class="c_textimage_v2">
                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <p>
                                                                „HUK hilft“ ist
                                                                ein Hilfsfonds
                                                                für Menschen,
                                                                die durch
                                                                schicksalhafte
                                                                Extremsituationen
                                                                in <b
                                                                    >existenzielle
                                                                    Not
                                                                </b>geraten
                                                                sind. Er ist mit <b
                                                                    >10
                                                                    Millionen
                                                                    Euro</b
                                                                > ausgestattet und
                                                                wird in Härtefällen
                                                                helfen. Wir wollen
                                                                einen Neuanfang erleichtern.<br
                                                                />
                                                            </p>
                                                            <p>
                                                                Der Fonds wendet
                                                                sich nicht nur
                                                                an Kunden der
                                                                HUK-COBURG,
                                                                sondern steht<b>
                                                                    bedürftigen
                                                                    Privatpersonen</b
                                                                > offen. HUK hilft
                                                                ist langfristig angelegt.<br
                                                                />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        style="--col: 12; --col-md: 6"
                                        class="s:self-start s:pt-0 s:pb-5 s:md:pb-10"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="s:d-flex s:flex-col s:items-center s:gap-y-4"
                                                >
                                                    <div>
                                                        <img
                                                            src="/media/team-hukhilft.jpg"
                                                            alt="Team von HUKhilft"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div style="background-color: #EEEAE3">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="wen">
                                                </div>

                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-check"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: center;"
                                                            >
                                                                <b
                                                                    >Wen wir
                                                                    fördern</b
                                                                >
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s:pb-5"></div>

                                            <div class="c_textimage_v2">
                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/rlv.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-check"
                                                        >
                                                            <ul>
                                                                <li>
                                                                    Sie sind <b
                                                                        >unverschuldet</b
                                                                    > in eine ihre
                                                                    Existenz gefährdende
                                                                    noch bestehende,
                                                                    außergewöhnliche
                                                                    <b
                                                                        >wirtschaftliche</b
                                                                    >
                                                                    <b
                                                                        >Notlage
                                                                    </b>geraten.
                                                                </li>
                                                                <li>
                                                                    Sie sind
                                                                    infolge
                                                                    ihres <b
                                                                        >körperlichen,
                                                                        geistigen
                                                                        oder
                                                                        seelischen
                                                                        Zustandes</b
                                                                    > auf die <b
                                                                        >Hilfe</b
                                                                    > anderer angewiesen.
                                                                </li>
                                                                <li>
                                                                    Sie können
                                                                    die<b>
                                                                        finanziellen
                                                                        Belastungen</b
                                                                    > des Alltags
                                                                    nicht mehr mit
                                                                    eigenen Mitteln
                                                                    oder gesetzlichen
                                                                    Leistungen erfüllen.
                                                                </li>
                                                                <li>
                                                                    Antragsberechtigt
                                                                    sind
                                                                    grundsätzlich
                                                                    <b
                                                                        >natürliche
                                                                        Personen</b
                                                                    > bzw. <b
                                                                        >private
                                                                        Haushalte</b
                                                                    >.<br />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div style="background-color: #EEEAE3">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="wen">
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/rlv.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-check"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: left;"
                                                            >
                                                                <b
                                                                    >Wen wir
                                                                    fördern</b
                                                                >
                                                            </h2>
                                                            <ul>
                                                                <li>
                                                                    Sie sind <b
                                                                        >unverschuldet</b
                                                                    > in eine ihre
                                                                    Existenz gefährdende
                                                                    noch bestehende,
                                                                    außergewöhnliche
                                                                    <b
                                                                        >wirtschaftliche</b
                                                                    >
                                                                    <b
                                                                        >Notlage
                                                                    </b>geraten.
                                                                </li>
                                                                <li>
                                                                    Sie sind
                                                                    infolge
                                                                    ihres <b
                                                                        >körperlichen,
                                                                        geistigen
                                                                        oder
                                                                        seelischen
                                                                        Zustandes</b
                                                                    > auf die <b
                                                                        >Hilfe</b
                                                                    > anderer angewiesen.
                                                                </li>
                                                                <li>
                                                                    Sie können
                                                                    die<b>
                                                                        finanziellen
                                                                        Belastungen</b
                                                                    > des Alltags
                                                                    nicht mehr mit
                                                                    eigenen Mitteln
                                                                    oder gesetzlichen
                                                                    Leistungen erfüllen.
                                                                </li>
                                                                <li>
                                                                    Antragsberechtigt
                                                                    sind
                                                                    grundsätzlich
                                                                    <b
                                                                        >natürliche
                                                                        Personen</b
                                                                    > bzw. <b
                                                                        >private
                                                                        Haushalte</b
                                                                    >.<br />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-0"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="antrag">
                                                </div>

                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: center;"
                                                            >
                                                                <b
                                                                    >Antrag
                                                                    stellen</b
                                                                >
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="s:pb-5"></div>

                                            <div class="c_textimage_v2">
                                                <div
                                                    class="s:md:d-flex s:clearfix md:clearfixNone s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-left md:floatNone s:mr-4 s:md:mr-0 width25 s:mt-1"
                                                    >
                                                        <img
                                                            src="/media/vertragsuebersicht.svg"
                                                        />
                                                    </div>

                                                    <div class="md:width75">
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <p>
                                                                Wenn Sie <b
                                                                    style=""
                                                                    >Unterstützung
                                                                </b>bei „HUK
                                                                hilft“
                                                                beantragen
                                                                möchten, können
                                                                Sie uns hier
                                                                Ihre <b style=""
                                                                    >Notlage
                                                                    schildern</b
                                                                >. Bitte
                                                                beschreiben Sie
                                                                uns das <b
                                                                    style=""
                                                                    >so genau
                                                                    wie möglich</b
                                                                >. Es ist
                                                                wichtig für uns
                                                                zu erkennen, um
                                                                welche Notlage
                                                                es geht und wie
                                                                wir helfen
                                                                können, diese zu
                                                                beheben.<br />
                                                            </p>
                                                            <p>
                                                                Weiter sind wir
                                                                so in der Lage
                                                                zu <b>prüfen</b
                                                                >, ob Ihr Antrag
                                                                unseren<b>
                                                                    Förderrichtlinien
                                                                    entspricht</b
                                                                >. Wenn Ihre
                                                                Situation
                                                                unseren
                                                                Förderrichtlinien
                                                                entspricht,
                                                                werden wir Ihnen
                                                                einen <b
                                                                    >Antrag
                                                                    schicken</b
                                                                >. Ihre Angaben
                                                                aus diesem
                                                                Antrag brauchen
                                                                wir dringend, da
                                                                wir alle <b
                                                                    >steuerrechtlichen
                                                                    Vorschriften</b
                                                                > erfüllen müssen.
                                                            </p>
                                                            <p>
                                                                Wir werden Sie <b
                                                                    >zeitnah
                                                                    informieren</b
                                                                >, auch wenn Ihr
                                                                Antrag nicht
                                                                unseren <b
                                                                    >Förderrichtlinien
                                                                    entspricht</b
                                                                >.
                                                            </p>
                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-0"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="antrag">
                                                </div>

                                                <div
                                                    class="s:md:d-flex s:clearfix md:clearfixNone s:flex-row-reverse s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right md:floatNone s:ml-4 s:md:ml-0 width25 s:mt-1"
                                                    >
                                                        <img
                                                            src="/media/vertragsuebersicht.svg"
                                                        />
                                                    </div>

                                                    <div class="md:width75">
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                            >
                                                                <b
                                                                    >Antrag
                                                                    stellen</b
                                                                >
                                                            </h2>
                                                            <p>
                                                                Wenn Sie <b
                                                                    >Unterstützung
                                                                </b>bei „HUK
                                                                hilft“
                                                                beantragen
                                                                möchten, können
                                                                Sie uns hier
                                                                Ihre <b
                                                                    >Notlage
                                                                    schildern</b
                                                                >. Bitte
                                                                beschreiben Sie
                                                                uns das <b
                                                                    >so genau
                                                                    wie möglich</b
                                                                >. Es ist
                                                                wichtig für uns
                                                                zu erkennen, um
                                                                welche Notlage
                                                                es geht und wie
                                                                wir helfen
                                                                können, diese zu
                                                                beheben.
                                                            </p>
                                                            <p>
                                                                Weiter sind wir
                                                                so in der Lage
                                                                zu <b>prüfen</b
                                                                >, ob Ihr Antrag
                                                                unseren<b>
                                                                    Förderrichtlinien
                                                                    entspricht</b
                                                                >. Wenn Ihre
                                                                Situation
                                                                unseren
                                                                Förderrichtlinien
                                                                entspricht,
                                                                werden wir Ihnen
                                                                einen <b
                                                                    >Antrag
                                                                    schicken</b
                                                                >. Ihre Angaben
                                                                aus diesem
                                                                Antrag brauchen
                                                                wir dringend, da
                                                                wir alle <b
                                                                    >steuerrechtlichen
                                                                    Vorschriften</b
                                                                > erfüllen müssen.
                                                            </p>
                                                            <p>
                                                                Wir werden Sie <b
                                                                    >zeitnah
                                                                    informieren</b
                                                                >, auch wenn Ihr
                                                                Antrag nicht
                                                                unseren <b
                                                                    >Förderrichtlinien
                                                                    entspricht</b
                                                                >.
                                                            </p>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-0 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div
                                                class="s:d-flex s:flex-column s:justify-end s:md:flex-row s:pb-5"
                                            >
                                                <s-button
                                                    type="button"
                                                    url="/hukinfo/af/form.html?formname=/huk-hilft/antrag-anfordern"
                                                    size="lg"
                                                    color="primary"
                                                    variant="filled"
                                                >
                                                    Antrag anfordern
                                                </s-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12; --col-md: 8"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: left;"
                                                            >
                                                                <b
                                                                    >Eine
                                                                    emotionale
                                                                    Reise ins
                                                                    Ahrtal</b
                                                                ><br />
                                                            </h2>
                                                            <p>
                                                                Vor über 2
                                                                Jahren war die
                                                                Flutkatastrophe
                                                                im Ahrtal die
                                                                Initialzündung
                                                                für die Gründung
                                                                des Hilfsfonds
                                                                HUK hilft. Viele
                                                                Menschen dort
                                                                haben alles
                                                                verloren. HUK
                                                                hilft konnte mit
                                                                Spenden von über
                                                                einer Million
                                                                Euro Neustarts
                                                                erleichtern und
                                                                zumindest
                                                                finanzielle
                                                                Sorgen lindern.
                                                            </p>
                                                            <p>
                                                                Wir wollten
                                                                wissen, wie es
                                                                heute dort
                                                                aussieht. Wie
                                                                geht es den
                                                                Menschen? Sind
                                                                unsere Spenden
                                                                gut angekommen?
                                                                Wir haben
                                                                Flutopfer
                                                                getroffen, die
                                                                immer noch mit
                                                                den Auswirkungen
                                                                der Katastrophe
                                                                kämpfen -
                                                                psychisch,
                                                                körperlich,
                                                                finanziell. Wir
                                                                haben viele
                                                                Geschichte von
                                                                Angst und
                                                                Belastung
                                                                erfahren, aber
                                                                auch Berichte
                                                                von Mut und
                                                                unglaublicher
                                                                Hilfsbereitschaft.
                                                            </p>
                                                            <p>
                                                                Im Ahrtal ist
                                                                viel passiert,
                                                                es ist aber auch
                                                                noch sehr viel
                                                                zu tun.<br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        style="--col: 12; --col-md: 4"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="s:d-flex s:flex-col s:items-center s:gap-y-4"
                                                >
                                                    <div>
                                                        <a
                                                            href="https://www.youtube.com/watch?v=VP4c4uwvoeQ"
                                                            target="_blank"
                                                        >
                                                            <img
                                                                src="/media/video-hukhilft.png"
                                                                alt="Vorschaubild HUKhilft Video"
                                                                loading="lazy"
                                                            />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-5 s:md:pb-10"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <h2
                                                    class="s:text-regular s:pb-3 s:md:pb-6"
                                                >
                                                    Eine emotionale Reise ins
                                                    Ahrtal
                                                </h2>

                                                <div
                                                    class="s:d-flex s:flex-col s:items-center s:gap-y-4"
                                                >
                                                    <div>
                                                        <a
                                                            href="https://www.youtube.com/watch?v=VP4c4uwvoeQ"
                                                            target="_blank"
                                                        >
                                                            <img
                                                                src="/media/video-hukhilft.png"
                                                                alt="Vorschaubild HUKhilft Video"
                                                                loading="lazy"
                                                            />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-0 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <p>
                                                                Vor über 2
                                                                Jahren war die
                                                                Flutkatastrophe
                                                                im Ahrtal die
                                                                Initialzündung
                                                                für die Gründung
                                                                des Hilfsfonds
                                                                HUK hilft. Viele
                                                                Menschen dort
                                                                haben alles
                                                                verloren. HUK
                                                                hilft konnte mit
                                                                Spenden von über
                                                                einer Million
                                                                Euro Neustarts
                                                                erleichtern und
                                                                zumindest
                                                                finanzielle
                                                                Sorgen lindern. <br
                                                                />
                                                            </p>
                                                            <p>
                                                                Wir wollten
                                                                wissen, wie es
                                                                heute dort
                                                                aussieht. Wie
                                                                geht es den
                                                                Menschen? Sind
                                                                unsere Spenden
                                                                gut angekommen?
                                                                Wir haben
                                                                Flutopfer
                                                                getroffen, die
                                                                immer noch mit
                                                                den Auswirkungen
                                                                der Katastrophe
                                                                kämpfen -
                                                                psychisch,
                                                                körperlich,
                                                                finanziell. Wir
                                                                haben viele
                                                                Geschichte von
                                                                Angst und
                                                                Belastung
                                                                erfahren, aber
                                                                auch Berichte
                                                                von Mut und
                                                                unglaublicher
                                                                Hilfsbereitschaft.
                                                            </p>
                                                            <p>
                                                                Im Ahrtal ist
                                                                viel passiert,
                                                                es ist aber auch
                                                                noch sehr viel
                                                                zu tun.<br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div style="background-color: #EEEAE3">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="anchor"
                                                    id="kontakt"
                                                >
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/postfach.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: center;"
                                                            >
                                                                <b
                                                                    >Kontakt
                                                                    aufnehmen</b
                                                                >
                                                            </h2>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                Sollten Sie
                                                                Fragen haben,
                                                                nehmen Sie gerne
                                                                Kontakt zu uns
                                                                auf<br />
                                                                und schreiben Sie
                                                                uns eine E-Mail:<br
                                                                />
                                                            </p>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                <a
                                                                    underline="always"
                                                                    href="mailto:hukhilft@hukhilft.de"
                                                                    >hukhilft@hukhilft.de</a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div style="background-color: #EEEAE3">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="anchor"
                                                    id="kontakt"
                                                >
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/postfach.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                            >
                                                                <b
                                                                    >Kontakt
                                                                    aufnehmen</b
                                                                >
                                                            </h2>
                                                            <p>
                                                                Sollten Sie
                                                                Fragen haben,
                                                                nehmen Sie gerne
                                                                Kontakt zu uns
                                                                auf und
                                                                schreiben Sie
                                                                uns eine E-Mail:
                                                            </p>
                                                            <p>
                                                                <a
                                                                    underline="always"
                                                                    href="mailto:hukhilft@hukhilft.de"
                                                                    >hukhilft@hukhilft.de</a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="presse">
                                                </div>

                                                <div
                                                    class="s:d-flex s:items-center s:gap-y-4"
                                                >
                                                    <div class="width25">
                                                        <img
                                                            src="/media/vertrag.svg"
                                                            alt="Presse"
                                                        />
                                                    </div>

                                                    <div class="width75">
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: center;"
                                                            >
                                                                <b>News</b>
                                                            </h2>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                Hier finden Sie
                                                                aktuelle
                                                                Nachrichten.
                                                            </p>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                <a
                                                                    underline="always"
                                                                    href="/presse.html"
                                                                    >Zu unseren
                                                                    News</a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="presse">
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/vertrag.svg"
                                                            alt="Presse"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                            >
                                                                <b>News</b>
                                                            </h2>
                                                            <p>
                                                                Hier finden Sie
                                                                aktuelle
                                                                Nachrichten.
                                                            </p>
                                                            <p>
                                                                <a
                                                                    underline="always"
                                                                    href="/presse.html"
                                                                    >Zu unseren
                                                                    News</a
                                                                ><br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newpar"></div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="stripe stripe--lightgrey">
            <div class="row">
                <div class="col col--nomb x4 x4--x6onS">
                    <div></div>
                </div>
                <div class="col col--nomb x4 x4--x6onS"></div>
            </div>
        </div>

        <div class="stripe stripe--darkgrey">
            <div class="row">
                <div class="col col--nomb x6">
                    <div class="linklist">
                        <ul class="linklist__list">
                            <li class="linklist-item linklist-item--inline">
                                <a
                                    href="/impressum.html"
                                    class="link link--blank link--white"
                                    title="Impressum"
                                >
                                    Impressum
                                </a>
                            </li>

                            <li class="linklist-item linklist-item--inline">
                                <a
                                    href="/datenschutz.html"
                                    class="link link--blank link--white"
                                    title="Datenschutz"
                                >
                                    Datenschutz
                                </a>
                            </li>

                            <li class="linklist-item linklist-item--inline">
                                <a
                                    href="/satzung.html"
                                    class="link link--blank link--white"
                                    title="Satzung"
                                >
                                    Satzung
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col--nomb x6">
                    <div class="copyright">&copy; 2024 HUK hilft e.V.</div>
                </div>
            </div>
        </div>
    </footer>
</Layout>
