---
import Header from "../components/Header.astro";
import Stage from "../components/Stage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <Header />
    <Stage />
    <main>
        <div class="s:container s:py-8">
            <div class="s:d-grid">
                <div style="--col:12; --col-md: 6;">
                    <div class="s:text-hyphens s:prose s:marker-bullet">
                        <h2 class="s:d-flex s:items-center"><img src="/media/shakehands.svg" alt="Händeschütteln" role="presentation" width="60" />Was wir tun</h2>
                        <p>
                            „HUK hilft“ ist ein Hilfsfonds für Menschen, die durch schicksalhafte Extremsituationen in <strong>existenzielle Not</strong> geraten sind. Er ist mit <strong>10 Millionen Euro</strong> ausgestattet und wird in Härtefällen helfen. Wir wollen einen Neuanfang erleichtern.
                        </p>
                        <p>
                            Der Fonds wendet sich nicht nur an Kunden der HUK-COBURG, sondern steht <strong>bedürftigen Privatpersonen</strong> offen. HUK hilft ist langfristig angelegt.
                        </p>
                    </div>
                </div>
                <div class="s:d-flex s:items-end s:justify-end" style="--col:12; --col-md: 6;">
                    <img src="/media/team-hukhilft.jpg" alt="Team von HUKhilft" width="708" height="393" />
                </div>
            </div>
        </div>
        
        <div class="s:bg-highlight-subdued">
            <div class="s:container s:py-8 s:prose">
                <h2 class="s:text-center">Wen wir fördern</h2>
                <div class="s:d-grid">
                    <div class="s:clearfix" style="--col:12; --col-md: 8;">
                        <div class="s:float-right s:mt-1 s:ml-4 s:md:d-hidden">
                            <img src="/media/rlv.svg" width="100" height="100">
                        </div>
                        <ul class="s:marker-check">
                            <li class="s:my-2">
                                Sie sind <b>unverschuldet</b> in eine ihreExistenz gefährden denoch bestehende, außergewöhnliche <b>wirtschaftliche Notlage</b>geraten.
                            </li>
                            <li class="s:my-2">
                                Sie sindinfolgeihres <b>körperlichen, geistigen oder seelischen Zustandes</b> auf die <b>Hilfe</b> anderer angewiesen.
                            </li>
                            <li class="s:my-2">
                                Sie könnendie<b> finanziellen Belastungen</b> des Alltagsnicht mehr miteigenen Mittelnoder gesetzlichenLeistungen erfüllen.
                            </li>
                            <li class="s:my-2">
                                Antragsberechtigtsindgrundsätzlich<b>natürliche Personen</b> bzw. <b>private Haushalte</b>.
                            </li>
                        </ul>
                    </div>
                    <div style="--col:12; --col-md: 4;" class="s:d-hidden s:md:d-flex s:items-center s:justify-end">
                        <img src="/media/rlv.svg" width="200" height="200">
                    </div>
                </div>
            </div>
        </div>

        <div class="s:bg-primary-subdued">
            <div class="s:container s:py-8 s:prose">
                <h2 class="s:text-center">Antrag stellen</h2>
                <p>
                    Wenn Sie <b>Unterstützung</b> bei „HUK hilft“ beantragen möchten, können Sie uns hier Ihre <b>Notlage schildern</b>. 
                    Bitte beschreiben Sie uns das<b> so genau wie möglich</b>. Es ist wichtig für uns zu erkennen, um welche Notlage es geht und 
                    wie wir helfen können, diese zu beheben.
                </p>
                <p>
                    Weiter sind wir so in der Lage zu <b>prüfen</b>, ob Ihr Antrag unseren <b>Förderrichtlinien entspricht</b>. Wenn Ihre Situation unseren 
                    Förderrichtlinien entspricht, werden wir Ihnen einen <b>Antrag schicken</b>. Ihre Angaben aus diesem Antrag brauchen wir dringend, 
                    da wir alle <b>steuerrechtlichen Vorschriften</b> erfüllen müssen.
                </p>
                <p>
                    Wir werden Sie <b>zeitnah informieren</b>, auch wenn Ihr Antrag nicht unseren <b>Förderrichtlinien entspricht</b>.
                </p>
                <div class="s:d-flex s:justify-end">
                    <s-button  url="/hukinfo/af/form.html?formname=/huk-hilft/antrag-anfordern" size="lg" color="primary" variant="filled">Antrag anfordern</s-button>
                </div>
            </div>
        </div>



        <div class="content">
            <div class="stripe stripe--content">
                
      
                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12; --col-md: 8"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: left;"
                                                            >
                                                                <b
                                                                    >Eine
                                                                    emotionale
                                                                    Reise ins
                                                                    Ahrtal</b
                                                                ><br />
                                                            </h2>
                                                            <p>
                                                                Vor über 2
                                                                Jahren war die
                                                                Flutkatastrophe
                                                                im Ahrtal die
                                                                Initialzündung
                                                                für die Gründung
                                                                des Hilfsfonds
                                                                HUK hilft. Viele
                                                                Menschen dort
                                                                haben alles
                                                                verloren. HUK
                                                                hilft konnte mit
                                                                Spenden von über
                                                                einer Million
                                                                Euro Neustarts
                                                                erleichtern und
                                                                zumindest
                                                                finanzielle
                                                                Sorgen lindern.
                                                            </p>
                                                            <p>
                                                                Wir wollten
                                                                wissen, wie es
                                                                heute dort
                                                                aussieht. Wie
                                                                geht es den
                                                                Menschen? Sind
                                                                unsere Spenden
                                                                gut angekommen?
                                                                Wir haben
                                                                Flutopfer
                                                                getroffen, die
                                                                immer noch mit
                                                                den Auswirkungen
                                                                der Katastrophe
                                                                kämpfen -
                                                                psychisch,
                                                                körperlich,
                                                                finanziell. Wir
                                                                haben viele
                                                                Geschichte von
                                                                Angst und
                                                                Belastung
                                                                erfahren, aber
                                                                auch Berichte
                                                                von Mut und
                                                                unglaublicher
                                                                Hilfsbereitschaft.
                                                            </p>
                                                            <p>
                                                                Im Ahrtal ist
                                                                viel passiert,
                                                                es ist aber auch
                                                                noch sehr viel
                                                                zu tun.<br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        style="--col: 12; --col-md: 4"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="s:d-flex s:flex-col s:items-center s:gap-y-4"
                                                >
                                                    <div>
                                                        <a
                                                            href="https://www.youtube.com/watch?v=VP4c4uwvoeQ"
                                                            target="_blank"
                                                        >
                                                            <img
                                                                src="/media/video-hukhilft.png"
                                                                alt="Vorschaubild HUKhilft Video"
                                                                loading="lazy"
                                                            />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-5 s:md:pb-10"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <h2
                                                    class="s:text-regular s:pb-3 s:md:pb-6"
                                                >
                                                    Eine emotionale Reise ins
                                                    Ahrtal
                                                </h2>

                                                <div
                                                    class="s:d-flex s:flex-col s:items-center s:gap-y-4"
                                                >
                                                    <div>
                                                        <a
                                                            href="https://www.youtube.com/watch?v=VP4c4uwvoeQ"
                                                            target="_blank"
                                                        >
                                                            <img
                                                                src="/media/video-hukhilft.png"
                                                                alt="Vorschaubild HUKhilft Video"
                                                                loading="lazy"
                                                            />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div>
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-0 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="s:gap-y-4">
                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <p>
                                                                Vor über 2
                                                                Jahren war die
                                                                Flutkatastrophe
                                                                im Ahrtal die
                                                                Initialzündung
                                                                für die Gründung
                                                                des Hilfsfonds
                                                                HUK hilft. Viele
                                                                Menschen dort
                                                                haben alles
                                                                verloren. HUK
                                                                hilft konnte mit
                                                                Spenden von über
                                                                einer Million
                                                                Euro Neustarts
                                                                erleichtern und
                                                                zumindest
                                                                finanzielle
                                                                Sorgen lindern. <br
                                                                />
                                                            </p>
                                                            <p>
                                                                Wir wollten
                                                                wissen, wie es
                                                                heute dort
                                                                aussieht. Wie
                                                                geht es den
                                                                Menschen? Sind
                                                                unsere Spenden
                                                                gut angekommen?
                                                                Wir haben
                                                                Flutopfer
                                                                getroffen, die
                                                                immer noch mit
                                                                den Auswirkungen
                                                                der Katastrophe
                                                                kämpfen -
                                                                psychisch,
                                                                körperlich,
                                                                finanziell. Wir
                                                                haben viele
                                                                Geschichte von
                                                                Angst und
                                                                Belastung
                                                                erfahren, aber
                                                                auch Berichte
                                                                von Mut und
                                                                unglaublicher
                                                                Hilfsbereitschaft.
                                                            </p>
                                                            <p>
                                                                Im Ahrtal ist
                                                                viel passiert,
                                                                es ist aber auch
                                                                noch sehr viel
                                                                zu tun.<br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div style="background-color: #EEEAE3">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="anchor"
                                                    id="kontakt"
                                                >
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/postfach.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: center;"
                                                            >
                                                                <b
                                                                    >Kontakt
                                                                    aufnehmen</b
                                                                >
                                                            </h2>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                Sollten Sie
                                                                Fragen haben,
                                                                nehmen Sie gerne
                                                                Kontakt zu uns
                                                                auf<br />
                                                                und schreiben Sie
                                                                uns eine E-Mail:<br
                                                                />
                                                            </p>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                <a
                                                                    underline="always"
                                                                    href="mailto:hukhilft@hukhilft.de"
                                                                    >hukhilft@hukhilft.de</a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div style="background-color: #EEEAE3">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div
                                                    class="anchor"
                                                    id="kontakt"
                                                >
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/postfach.svg"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                            >
                                                                <b
                                                                    >Kontakt
                                                                    aufnehmen</b
                                                                >
                                                            </h2>
                                                            <p>
                                                                Sollten Sie
                                                                Fragen haben,
                                                                nehmen Sie gerne
                                                                Kontakt zu uns
                                                                auf und
                                                                schreiben Sie
                                                                uns eine E-Mail:
                                                            </p>
                                                            <p>
                                                                <a
                                                                    underline="always"
                                                                    href="mailto:hukhilft@hukhilft.de"
                                                                    >hukhilft@hukhilft.de</a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:d-hidden s:md:d-block">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="presse">
                                                </div>

                                                <div
                                                    class="s:d-flex s:items-center s:gap-y-4"
                                                >
                                                    <div class="width25">
                                                        <img
                                                            src="/media/vertrag.svg"
                                                            alt="Presse"
                                                        />
                                                    </div>

                                                    <div class="width75">
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                                style="text-align: center;"
                                                            >
                                                                <b>News</b>
                                                            </h2>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                Hier finden Sie
                                                                aktuelle
                                                                Nachrichten.
                                                            </p>
                                                            <p
                                                                style="text-align: center;"
                                                            >
                                                                <a
                                                                    underline="always"
                                                                    href="/presse.html"
                                                                    >Zu unseren
                                                                    News</a
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="s:md:d-hidden">
                        <div style="background-color: #EDF1F1">
                            <div class="s:container">
                                <div
                                    class="s:d-grid s:gap-y-0"
                                    style="--g-cols: 12"
                                >
                                    <div
                                        style="--col: 12"
                                        class="s:self-start s:pt-10 s:md:pt-14 s:pb-12 s:md:pb-20"
                                    >
                                        <div class="">
                                            <div class="c_textimage_v2">
                                                <div class="anchor" id="presse">
                                                </div>

                                                <div
                                                    class="s:clearfix s:gap-y-4"
                                                >
                                                    <div
                                                        class="s:float-right s:mt-1 s:ml-4 width25"
                                                    >
                                                        <img
                                                            src="/media/vertrag.svg"
                                                            alt="Presse"
                                                        />
                                                    </div>

                                                    <div>
                                                        <div
                                                            class="s:text-hyphens s:prose s:marker-bullet"
                                                        >
                                                            <h2
                                                                class="s:text-regular"
                                                            >
                                                                <b>News</b>
                                                            </h2>
                                                            <p>
                                                                Hier finden Sie
                                                                aktuelle
                                                                Nachrichten.
                                                            </p>
                                                            <p>
                                                                <a
                                                                    underline="always"
                                                                    href="/presse.html"
                                                                    >Zu unseren
                                                                    News</a
                                                                ><br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newpar"></div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="stripe stripe--lightgrey">
            <div class="row">
                <div class="col col--nomb x4 x4--x6onS">
                    <div></div>
                </div>
                <div class="col col--nomb x4 x4--x6onS"></div>
            </div>
        </div>

        <div class="stripe stripe--darkgrey">
            <div class="row">
                <div class="col col--nomb x6">
                    <div class="linklist">
                        <ul class="linklist__list">
                            <li class="linklist-item linklist-item--inline">
                                <a
                                    href="/impressum.html"
                                    class="link link--blank link--white"
                                    title="Impressum"
                                >
                                    Impressum
                                </a>
                            </li>

                            <li class="linklist-item linklist-item--inline">
                                <a
                                    href="/datenschutz.html"
                                    class="link link--blank link--white"
                                    title="Datenschutz"
                                >
                                    Datenschutz
                                </a>
                            </li>

                            <li class="linklist-item linklist-item--inline">
                                <a
                                    href="/satzung.html"
                                    class="link link--blank link--white"
                                    title="Satzung"
                                >
                                    Satzung
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col--nomb x6">
                    <div class="copyright">&copy; 2024 HUK hilft e.V.</div>
                </div>
            </div>
        </div>
    </footer>
</Layout>
