---
import Layout from "../layouts/Layout.astro";
export let counter = 7;
---

<Layout title="Welcome to Astro.">
<header class="s:bg s:p-2 s:box-shadow-md s:mb-4 s:z-100" style="position:sticky; top:0; left:0;">
	<div class="s:container s:d-flex s:justify-between s:items-center">
		<div>
			<img class="logo s:my-2" src="./logo-huk-md.svg" alt="Huk-Logo">
		</div>
		<div class="s:d-flex s:items-center">
			<s-badge color="highlight" content={counter} inline="true">Unlegesen</s-badge>
			<s-button color="accent" size="sm">Jetzt Tarif berechnen</s-button>
		</div>
	</div>
</header>
  <main class="s:container">
    <h1>Welcome to Shield-Astro Demo</h1>
    <p class="instructions">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio excepturi modi maiores, aliquam velit eaque esse? Cum fugiat reiciendis necessitatibus? Deserunt magni, quibusdam vero adipisci exercitationem ipsum possimus aliquam. Sapiente.
    </p>
    <hr />
    <s-button id="testbutton">custom sClick-Event and get Alert</s-button>
    <hr />
    <s-banner id="banner"
      dismissable="true"
      leading-text="Leading-Text"
      supporting-text="Das ist der Supporting-Text"
    >
      <p slot="content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </p>
      <div
        class="s:flex-wrap s:d-flex s:flex-column s:sm:flex-row"
        slot="action"
      >
        <s-button size="sm" variant="outlined">Primäre Aktion</s-button>
        <s-button size="sm" variant="text">Sekundäre Aktion</s-button>
      </div>
    </s-banner>
  </main>
</Layout>

<style>
	.logo {
		display:block;
		width: clamp(100px, 80%, 240px);
	}
</style>

<script>
  function handleClick (title: string) {
	alert(`${title}-button clicked!`);

  }
  document.getElementById("testbutton").addEventListener("sClick", () => handleClick('testbutton'));
  document.getElementById("banner").addEventListener("sRemove",  () => handleClick('remove-banner'));
</script>