---

---
<header class="s:bg s:sticky s:top-0 s:z-75 s:box-shadow-sm">
    <div class="s:container s:py-3">
        <a class="logo" href="/" title="HUK-Hilft">
            <img src="/media/hukhilft.svg" alt="HUK-COBURG Logo" width="250" height="50" />
        </a>
    </div>
</header>

<style>
    .logo {
        display:block;
        width: 128px;
    }

    @media (min-width: 768px) {
        .logo {
            display:block;
            width: 200px;
        }
    }
</style>