---

---

<div class="stage">
    <img
        role="presentation"
        alt="Zwei Hände, die sich berühren"
        src="/media/top-haende-reichen.scale.buehneL.jpg"
    />
</div>

<style>
    .stage {
        position: relative;
        background: yellow;
    }
    .stage:before {
        content: "";
        position: absolute;
        inset:0;
        z-index: 1;
        background-color: var(--color-accent-400);
        mix-blend-mode: overlay;
    }
    img {
        /* filter:grayscale(0.8) contrast(1.8) brightness(1.6); */
    }
</style>