---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<script type="module" src="/shield-develop/components/1.5/lib/lib.esm.js"></script>
		<link rel="stylesheet" href="/shield-develop/themes/1.5/hukde-next/theme.css">
		<link rel="stylesheet" href="/shield-develop/css-framework/1.5/css/all.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
</style>
